{% extends "base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block extrastyles %}
    {% render_bundle 'main' 'css' %}
{% endblock %}

{% block extrascripts %}
    {% render_bundle 'main' 'js' %}
{% endblock %}

{% block title %}Новый чат{% endblock %}
{% block content %}
    <div class="chat" id="chat">
        {% for m in messages %}
            {% include "core/message.html" with message=m %}
        {% endfor %}
    </div>
    <form class="input message-form" id="message-form" action="{% url "core:message_create" %}" method="post">
        {% csrf_token %}
        <div class="input__attach btn"></div>
        <input type="text" value="" name="text" placeholder="Введите сообщение"/>
        <button type="submit" class="input__send btn"></button>
    </form>
{% endblock %}
